<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="r.e.p">
   
   <delete id="delete">
       delete from reply where rno = #{rno}
   </delete>

   <update id="update">
     update reply set replytext = #{replytext}, updatedate=stsdate
     where rno = #{rno}
   </update>


   <select id="getRno" resultType="Integer">
      select NVL2(max(rno), max(rno)+1,1) from reply
   </select>

   <insert id="insert">
      insert into reply (rno, bno, replyer, replytext)
      values
      (#{rno},#{bno},#{replyer},#{replytext})
   </insert>
   
   <select id="list" resultType="ReplyVO">
      select * from reply where bno = #{bno} order by rno desc
   </select>

</mapper>